{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Password Reset Page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Password Reset</h1>
        <p>
            Enter the email you used to register below. An email will be sent to you with instruction
            to reset your password.
        </p>
        {{ form.email.errors }}
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
{% endblock %}
