.register-text {
    text-align: right;
}
.top-margin {
    margin-top: 70px;
}
.table-link {
    text-decoration: none;
    color: #000;
}
.ticket-content {
    min-height: 360px;
}
.small-text {
    font-size: 50%;
}
.side-margin {
    margin-left: 5px;
    margin-right: 5px;
}

#credit-card-errors {
    display: none;
}

@media screen and (min-width: 991px) {
    .register-text {
        font-size: 90%;
    }
}
