.register-text {
    text-align: right;
}

.top-margin {
    margin-top: 70px;
}

.table-link {
    text-decoration: none;
    color: #000;
}

.ticket-content {
    min-height: 360px;
}

.small-text {
    font-size: 50%;
}

.form-input-margin {
    margin: 5px;
}

#credit-card-errors {
    display: none;
}

.full-table {
    display: none;
}

.simple-table {
    display: table;
}

.header-button, .ticket-edit{
    float: none;
}

.header-button {
    margin: 5px;
}

.img-blogpost {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 991px) {
    .register-text {
        font-size: 90%;
    }

    .full-table {
        display: table;
    }

    .simple-table {
        display: none;
    }

    .header-button, .ticket-edit {
        float: right;
    }
}
