{% extends 'base.html' %}
{% load widget_tweaks %}
{% load tz %}
{% load helper %}

{% block page_title %}Issue Tracker - Home Page{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Issue Tracker - Home Page
        <div class="row">
            <a href="{% url 'ticket_ranking_progress' %}"class="btn btn-info btn-sm small-text header-button col">View Ticket Ranking/Progress</a>
            <a href="{% url 'submit_new_ticket' %}" class="btn btn-success btn-sm small-text header-button col">Submit New Ticket</a>
        </div>
    </h1>

    <form method="GET" class="form-inline">
        {% for field in filter.form %}
            {{ field.label_tag }}
            {% render_field field class="form-control form-input-margin" %}
        {% endfor %}
        <button type="submit" class="btn btn-primary form-control form-input-margin">Filter</button>
        <a href="{% url 'issue_tracker_home' %}" class="btn btn-primary form-control form-input-margin form-reset">Reset</a>
    </form>

    <div>
        <ul class="pagination">
            {% if tickets.has_previous %}
                {% if 'title__icontains=' in request.get_full_path or 'type=' in request.get_full_path %}
                    {% if 'page' in request.get_full_path %}
                        <li class="page-item">
                            <a href="{{ request.get_full_path | splitpart:0 }}&page=1" class="page-link"><i class="fas fa-fast-backward"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="{{ request.get_full_path | splitpart:0 }}&page={{ tickets.previous_page_number }}" class="page-link"><i class="fas fa-backward"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="{{ request.get_full_path }}&page=1" class="page-link"><i class="fas fa-fast-backward"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="{{ request.get_full_path }}&page={{ tickets.previous_page_number }}" class="page-link"><i class="fas fa-backward"></i></a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link"><i class="fas fa-fast-backward"></i></a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ tickets.previous_page_number }}" class="page-link"><i class="fas fa-backward"></i></a>
                    </li>
                {% endif %}
            {% endif %}

            {% for num in tickets.paginator.page_range %}
                {% if tickets.number == num %}
                    <li class="page-item">
                        <a class="page-link"><strong>{{ num }}</strong></a>
                    </li>
                {% elif num > tickets.number|add:'-5' and num < tickets.number|add:'5' %}
                    {% if 'title__icontains' in request.get_full_path or 'type' in request.get_full_path %}
                        {% if 'page' in request.get_full_path %}
                            <li class="page-item">
                                <a href="{{ request.get_full_path | splitpart:0 }}&page={{ num }}" class="page-link">{{ num }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="{{ request.get_full_path }}&page={{ num }}" class="page-link">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if tickets.has_next %}
                {% if 'title__icontains=' in request.get_full_path or 'type=' in request.get_full_path %}
                    {% if 'page' in request.get_full_path %}
                        <li class="page-item">
                            <a href="{{ request.get_full_path | splitpart:0 }}&page={{ tickets.next_page_number }}" class="page-link"><i class="fas fa-forward"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="{{ request.get_full_path | splitpart:0 }}&page={{ tickets.paginator.num_pages }}" class="page-link"><i class="fas fa-fast-forward"></i></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="{{ request.get_full_path }}&page={{ tickets.next_page_number }}" class="page-link"><i class="fas fa-forward"></i></a>
                        </li>
                        <li class="page-item">
                            <a href="{{ request.get_full_path }}&page={{ tickets.paginator.num_pages }}" class="page-link"><i class="fas fa-fast-forward"></i></a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ tickets.next_page_number }}" class="page-link"><i class="fas fa-forward"></i></a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ tickets.paginator.num_pages }}" class="page-link"><i class="fas fa-fast-forward"></i></a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

    <table class="table table-hover simple-table">
        <thead>
            <tr class="d-flex">
                <th class="col">Title</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr class="d-flex">
                <td class="col"><a href="{% url 'ticket_details' ticket.id %}" class="table-link">{{ ticket.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-hover full-table">
        <thead>
            <tr class="d-flex">
                <th class="col-5">Title</th>
                <th class="col-2">Category</th>
                <th class="col-1">Author</th>
                <th class="col-1">Status</th>
                <th class="col-1">Upvote</th>
                <th class="col-2">Submission Date(UTC)</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr class="d-flex">
                <td class="col-5"><a href="{% url 'ticket_details' ticket.id %}" class="table-link">{{ ticket.title }}</a></td>
                <td class="col-2">{{ ticket.get_type_display }}</td>
                <td class="col-1">{{ ticket.author }}</td>
                <td class="col-1">{{ ticket.get_status_display }}</td>
                {% if ticket.type == "T1" %}
                <td class="col-1">{{ ticket.upvote_user.count }}</td>
                {% else %}
                <td class="col-1">£{{ ticket.upvote_fund }}</td>
                {% endif %}
                <td class="col-2">{{ ticket.submission_date | utc }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
