{% extends 'base.html' %}

{% block page_title %}Issue Tracker - Home Page{% endblock %}

{% block content %}
<div class="container">
    <h1>
            Issue Tracker - Home Page
        </h1>
    <a href="{% url 'submit_new_ticket' %}" class="btn btn-success float-right">Submit New Ticket</a>
    <table class="table table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-8">Title</th>
                <th class="col-2">Author</th>
                <th class="col-2">Submission Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr class="d-flex">
                <td class="col-8"><a href="{% url 'ticket_details' ticket.id %}" class="table-link">{{ ticket.title }}</a></td>
                <td class="col-2">{{ ticket.author }}</td>
                <td class="col-2">{{ ticket.submission_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
