{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% load tz %}

{% block page_title %}Issue Tracker - Funding for Feature Request{% endblock %}

{% block js_head %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card border-primary mb-3 ticket-content">
        <div class="card-header">
            <h1>
                {{ ticket.title }}
                <small class="text-muted small-text">by {{ ticket.author }}</small>
                {% if user.username == ticket.author.username %}
                <a href="{% url 'edit_ticket' ticket.id %}" class="float-right">Edit</a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <p class="card-text">{{ ticket.content | linebreaks }}</p>
        </div>
        <div class="card-footer">
            <p>Created On: {{ ticket.submission_date | utc }} UTC</p>
            <p>Last Modified: {{ ticket.last_modified | utc }} UTC</p>
        </div>
    </div>

    <form method="POST" id="funding-form">
        <div id="credit-card-errors">
            <div class="alert alert-dismissible alert-danger" id="stripe-error-message"></div>
        </div>

        {% csrf_token %}
        <div class="form-group">
            {{ funding_form.fund.label_tag }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">£</span>
                </div>
                {% render_field funding_form.fund class="form-control" min="1" max="999999" step="1" %}
            </div>
        </div>

        {{ card_detail_form | as_bootstrap }}

        <button class="btn btn-primary" type="submit">Submit Fund</button>
    </form>
    <br>
    <p><a href="{% url 'ticket_details' ticket.id %}">Back</a></p>

</div>
{% endblock %}
