{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}Issue Tracker - Ticket Rankings and Progress{% endblock %}

{% block js_body %}
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://momentjs.com/downloads/moment.js" charset="utf-8"></script>
<script>
    Highcharts.chart('bug_ranking', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 5 Bugs'
        },
        xAxis: {
            categories: [
                {% for item in bug_ranking %}
                    "{{ item.title }}"
                    {% if forloop.counter < bug_ranking|length %}, {% endif %}
                {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: 'Upvote Count'
            }
        },
        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function() {
                            url_string = "{% url 'ticket_details' pk=1%}";
                            url_string = url_string.slice(0, -2);
                            location.href= url_string + this.key;
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Upvote Count',
            data: [
                {% for item in bug_ranking %}
                    {
                        y: {{ item.upvote_count }},
                        name: "{{ item.title }}",
                        key: "{{ item.id }}"
                    } {% if forloop.counter < bug_ranking|length %}, {% endif %}
                {% endfor %}
            ]
        }]
    });

    Highcharts.chart('feature_request_ranking', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top 5 Feature Request'
        },
        xAxis: {
            categories: [
                {% for item in feature_request_ranking %}
                    "{{ item.title }}"
                    {% if forloop.counter < feature_request_ranking|length %}, {% endif %}
                {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: 'Funding'
            },
            labels: {
                format: '£{value}'
            }
        },
        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function() {
                            url_string = "{% url 'ticket_details' pk=1%}";
                            url_string = url_string.slice(0, -2);
                            location.href= url_string + this.key;
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Funding',
            data: [
                {% for item in feature_request_ranking %}
                    {
                        y: {{ item.upvote_fund }},
                        name: "{{ item.title }}",
                        key: "{{ item.id }}",
                    } {% if forloop.counter < feature_request_ranking|length %}, {% endif %}
                {% endfor %}
            ],
            color: "#65f77d"
        }]
    });

    Highcharts.chart('daily_tended_tickets', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Daily Tended Tickets'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                format: '{value: %Y/%b/%e}',
            },
            tickInterval: 24*3600*1000, // Interval = 1 day
        },
        yAxis: {
            title: {
                text: 'Tickets Tended'
            },
            allowDecimals: false,
        },
        series: [
            {
                name: 'Bugs',
                data: [
                    {% for item in pl_daily_filter %}
                    {
                        x: Date.parse('{{ item.date|date:"Y-m-d" }}'),
                        y: {{ item.bug_tended }},
                    },
                    {% endfor %}
                ]
            },
            {
                name: 'Feature Request',
                data: [
                    {% for item in pl_daily_filter %}
                    {
                        x: Date.parse('{{ item.date|date:"Y-m-d" }}'),
                        y: {{ item.feature_tended }},
                    },
                    {% endfor %}
                ]
            }
        ]
    });

    Highcharts.chart('weekly_tended_tickets', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Weekly Tended Tickets'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                format: '{value: %Y/%b/%e}',
            },
            tickInterval: 7*24*3600*1000, // Interval = 1 week
        },
        yAxis: {
            title: {
                text: 'Tickets Tended'
            },
            allowDecimals: false,
        },
        series: [
            {
                name: 'Bugs',
                data: [
                    {% for item in pl_weekly_filter %}
                    {
                        x: Date.parse(
                            moment()
                            .year({{ item.year }})
                            .week({{ item.week }})
                            .day('monday')
                            .toDate()
                        ),
                        y: {{ item.week_bug_total }},
                    },
                    {% endfor %}
                ]
            },
            {
                name: 'Feature Request',
                data: [
                    {% for item in pl_weekly_filter %}
                    {
                        x: Date.parse(
                            moment()
                            .year({{ item.year }})
                            .week({{ item.week }})
                            .day('monday')
                            .toDate()
                        ),
                        y: {{ item.week_feature_total }},
                    },
                    {% endfor %}
                ]
            }
        ]
    });

    Highcharts.chart('monthly_tended_tickets', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Tended Tickets'
        },
        xAxis: {
            type: 'datetime',
            /* Min interval = 28 days, will automatically adjust for different months */
            minTickInterval: 28*24*3600*1000,
        },
        yAxis: {
            title: {
                text: 'Tickets Tended'
            },
            allowDecimals: false,
        },
        series: [
            {
                name: 'Bugs',
                data: [
                    {% for item in pl_monthly_filter %}
                    {
                        x: Date.parse('{{ item.year }}-{{ item.month }}-1'),
                        y: {{ item.month_bug_total }},
                    },
                    {% endfor %}
                ]
            },
            {
                name: 'Feature Request',
                data: [
                    {% for item in pl_monthly_filter %}
                    {
                        x: Date.parse('{{ item.year }}-{{ item.month }}-1'),
                        y: {{ item.month_feature_total }},
                    },
                    {% endfor %}
                ]
            }
        ]
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Issue Tracker - Ticket Rankings and Progress</h1>

    {% if request.user.is_staff %}
        <div class="row">
            <a href="/admin/issuetracker/progresslog/" class="btn btn-info header-button col" target="_blank">Update/Log Ticket Progress</a>
        </div>
    {% endif %}

    <div class="row">
        <div class="col" id="bug_ranking"></div>
        <div class="col" id="feature_request_ranking"></div>
    </div>

    <div class="row">
        <div class="col-12" id="daily_tended_tickets"></div>
        <div class="col-12" id="weekly_tended_tickets"></div>
        <div class="col-12" id="monthly_tended_tickets"></div>
    </div>
</div>
{% endblock %}
