{% extends 'base.html' %}

{% block page_title %}Issue Tracker - Ticket Progress Update/Logging{% endblock %}

{% block content %}
<div class="container">
    <h1>Issue Tracker - Ticket Progress Update/Logging</h1>

    <p>
        Please remember <strong><a href="{% url 'ticket_details' mvf.id %}">{{ mvf.title }}</a></strong>
        is currently the most sought after feature request.
        Make sure you have put in at least 50% of working time into the said issue
        as promised in our policy.
    </p>
    <p>If its status is not on "Doing", please change it in ticket details page first.</p>

    <br />

    <p>Which ticket has been tended today?</p>

    <form>
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="ticket_id">Ticket Tended: </label>
                    <select name="ticket_id" id="ticket_id" class="custom-select">
                        <option selected="">--------</option>
                        {% for item in tickets %}
                        <option value="{{ item.id }}">{{ item.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="hours_tended">How many hours?</label>
                    <input type="number" name="hours_tended" class="form-control" min="0.5" max="4" step="0.5">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add to Batch</button>
    </form>
</div>
{% endblock %}
