{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load tz %}

{% block page_title %}Issue Tracker - Ticket Details{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <a href="{% url 'ticket_ranking_progress' %}"class="btn btn-info header-button col">View Ticket Ranking/Progress</a>
        <a href="{% url 'submit_new_ticket' %}" class="btn btn-success header-button col">Submit New Ticket</a>
    </div>
    <div class="card border-primary mb-3 ticket-content">
        <div class="card-header">
            <h1>
                {{ ticket.title }}
                <small class="text-muted small-text">by {{ ticket.author }}</small>
                {% if user.username == ticket.author.username %}
                <a href="{% url 'edit_ticket' ticket.id %}" class="ticket-edit">Edit</a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <p class="card-text">{{ ticket.content | linebreaks }}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {% if ticket.type == "T1" %}
                    <p>
                        Upvote: {{ ticket.upvote_user.count }}
                        {% if user in upvoted_user %}
                        <a href="{% url 'upvote' ticket.id %}"><i class="fas fa-thumbs-up fa-2x"></i></a>
                        {% else %}
                        <a href="{% url 'upvote' ticket.id %}"><i class="far fa-thumbs-up fa-2x"></i></a>
                        {% endif %}
                    </p>
                    {% else %}
                    <p>
                        Current Funding: £{{ ticket.upvote_fund }}
                        <a href="{% url 'fund' ticket.id %}"><i class="fas fa-donate fa-2x"></i></a>
                    </p>
                    {% endif %}

                    <p>
                        {% if user.is_staff %}
                        <form action="{% url 'update_status' ticket.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-inline">
                                <label for="status">{{ status.status.label }}:</label>
                                <select class="custom-select form-input-margin" name="status" id="status">
                                    {% for x, y in status.fields.status.choices %}
                                    <option value="{{ x }}" {% if ticket.status == x %}selected{% endif %}>{{ y }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-primary" type="submit">Update Status</button>
                            </div>
                        </form>
                        {% else %}
                        Status: {{ ticket.get_status_display }}
                        {% endif %}
                    </p>

                    <p>
                        {% if user.is_staff %}
                        <form action="{% url 'update_threshold' ticket.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-inline">
                                <label for="threshold">
                                    {% if ticket.type == "T1" %}
                                        {{ threshold.threshold.label }}:
                                    {% else %}
                                        {{ threshold.threshold.label }}(in GBP £):
                                    {% endif %}
                                </label>
                                <input type="text" name="threshold" value="{{ threshold.threshold.value }}" class="form-input-margin">
                                <button class="btn btn-primary" type="submit">Update Threshold</button>
                            </div>
                        </form>
                        {% else %}
                        Threshold:
                            {% if ticket.threshold == None %}
                                To Be Updated
                            {% else %}
                                {% if ticket.type == "T1" %}
                                    {{ ticket.threshold }}
                                {% else %}
                                    £{{ ticket.threshold }}.00
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </p>

                </div>

                <div class="col-sm-12 col-md-6 text-right">
                    <p>Created On: {{ ticket.submission_date | utc }} UTC</p>
                    <p>Last Modified: {{ ticket.last_modified | utc  }} UTC</p>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button class="btn btn-primary" type="submit">Post New Comment</button>
    </form>
    {% endif %}

    <br>

    <div>
        <ul class="pagination">
            {% if comments.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link"><i class="fas fa-fast-backward"></i></a>
            </li>
            <li class="page-item">
                <a href="?page={{ comments.previous_page_number }}" class="page-link"><i class="fas fa-backward"></i></a>
            </li>
            {% endif %}

            {% for num in comments.paginator.page_range %}
                {% if comments.number == num %}
                <li class="page-item">
                    <a class="page-link"><strong>{{ num }}</strong></a>
                </li>
                {% elif num > comments.number|add:'-5' and num < comments.number|add:'5' %}
                <li class="page-item">
                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if comments.has_next %}
            <li class="page-item">
                <a href="?page={{ comments.next_page_number }}" class="page-link"><i class="fas fa-forward"></i></a>
            </li>
            <li class="page-item">
                <a href="?page={{ comments.paginator.num_pages }}" class="page-link"><i class="fas fa-fast-forward"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% for comment in comments %}
    <div class="card border-info mb-3">
        {% if comment.author.is_staff %}
        <div class="card-header bg-info text-white">
        {% elif user.username == comment.author.username %}
        <div class="card-header bg-primary text-white">
        {% else %}
        <div class="card-header">
        {% endif %}
            {{ comment.author.username }} @ {{ comment.comment_date | utc }} UTC
            {% if user.username == comment.author.username %}
                <a href="{% url 'edit_comment' ticket.id comment.id %}" class="float-right text-white">Edit</a>
            {% endif %}
        </div>
        <div class="card-body">
            <span class="card-text">{{ comment.content | linebreaks }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
